@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    bottom:20px;
    left:20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

#panel1 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Flag_of_North_Macedonia.svg/2560px-Flag_of_North_Macedonia.svg.png");
}

#panel2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/640px-Flag_of_Brazil.svg.png");
}

#panel3 {
    background-image: url("https://cdn.britannica.com/01/3101-004-506325BB/Flag-Norway.jpg");
}

#panel4 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1200px-Bandera_de_Espa%C3%B1a.svg.png");
}

#panel5 {
    background-image: url("https://cdn.britannica.com/68/7068-004-7848FEB4/Flag-Canada.jpg");
}


@media(max-width: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display: none;
    }
}